{
  "created": "{{DATE}}",
  "workflow": {
    "repository": null,
    "commit": null
  },
  "submodules": {},
  "muiogo": {
    "repository": null,
    "commit": null,
    "version": null
  },
  "toolchain": {}
}
